* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 18px Trebuchet MS;
}

html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

#calculator {
	width: 325px;
	height: auto;
	margin: 100px auto;
	padding: 20px 20px 9px;
	background: #9dd2ea;
	background: linear-gradient(#32aee5, #8bceec);
	border-radius: 25px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.top span.remove {
	float: left;
}

.top .screen {
	height: 40px;
	width: 212px;
	float: right;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

.buttons, .top {overflow: hidden;}


.buttons span, .top span.remove {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	height: 36px;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;
	user-select: none;
	transition: all 0.1s ease;
}

.buttons span.operator {
	background: #dbf2ff;
	margin-right: 0;
}

.buttons span.eval {
	background: #92ff9c;
	box-shadow: 0px 4px #53a861;
	color: #888;
}

.top span.remove {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

.buttons span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.buttons span.operator:hover{
	background: #ecff92;
	box-shadow: 0px 4px #98a853;
	color: #888;
}

.buttons span.eval:hover {
	background: #50b864;
	box-shadow: 0px 4px #337a41;
	color: #ffffff;
}

.top span.remove:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

.buttons span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.buttons span.operator:active {
	top: 4px;
	box-shadow: 0px 0px #98a853;
}

.buttons span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.remove:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
